<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bdloc !{% endblock %}</title>
        {% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{ asset("css/style.css") }}">{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('faviconBdloc.ico') }}" />
    </head>
    <body>
        <header id="header">
            <h1 id="titreSite" class="left">BdLoc</h1>
            <nav id="nav" class="left">
                {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
                <ul>
                    <li><a href="{#{{ path('bdloc_app_book_catalog') }}#}">Les BDs !</a></li>
                    <li><a href="{#{{ path("bdloc_app_cart_recap", {'id': id_cart}) }}#}">Mon Panier (nb)</a></li>
                    <li><a href="">Mon Compte</a></li>     
                </ul>    
            </nav>
            <div id="connexion" class="right">
                {% if app.user %} <!-- app.session.started -->
                    <div id="user"class="left">Bonjour {{ app.user.lastName }}</div>
                    <a href="{{ path('logout') }}" class="left">Déconnexion</a>
                {% else %}
                    <a href="{{ path('bdloc_app_user_login') }}" {% if currentPath == '/bdloc/web/app_dev.php/login' %} class="active" {% endif %} >Connexion</a>
                {% endif %}
            </div>
        </header>
{% block sidebar %}
    
{% endblock %}
        <main id="main">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="flash-error">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% block main_content %}{% endblock %}
        </main>

        <footer id="footer">
            <div>Copyright <span id="copyright">&copy;</span> {{ "now"|date("Y") }} BdLoc. Tous droits réservés. | By M-C and Calimero.</div>
        </footer>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
