            

        <header id="header">
            <div id="logo" class="left">
                <img src="{{ asset('img/appearances/BDloc.png') }}" alt="Logo BDLOC"/>
            </div>
            <nav id="nav" class="left">
                <a href="{{ path('bdloc_app_book_catalogredirect') }}" id="lien_catalogue" {% if app.request.getPathInfo == '/catalogue' %} class="active" {% endif %}>Catalogue</a>
                <a href="{{ path("bdloc_app_cart_recap") }}" id="lien_panier" {% if app.request.getPathInfo == '/panier/' %} class="active" {% endif %}>Panier <div id="itemsNumber">{{ render(controller('BdlocAppBundle:Cart:getItemsNumberInCurrentCart')) }}</div></a>
                {% if app.user %}       
                    <a href="{{ path('bdloc_app_account_home') }}" id="lien_compte" {% if app.request.getPathInfo == '/compte/' %} class="active" {% endif %}>Compte</a>
                {% endif %}
            </nav>
            <div id="connexion" class="right">
                {% if app.user %}  
                    <div id="user"class="left">Bonjour {{ app.user.lastName }}</div>
                    <a href="{{ path('logout') }}" class="left">Déconnexion</a>
                {% else %}
                    <a href="{{ path('bdloc_app_user_login') }}" {% if app.request.getPathInfo == '/login' %} class="active" {% endif %}>Connexion</a>
                {% endif %}
            </div>
        </header>