{% extends ':layouts:base.html.twig' %}

{% block title %}Bdloc | Accueil{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset("css/style.css") }}">
<link rel="stylesheet" type="text/css" href="{{ asset("css/catalogue.css") }}">
{% endblock %}

{% block main_content %}

    <div id="containerCatalogue">
                <div id="barreFiltre">
                    <div id="filtreAffich">
                        <select name="" id=""></select>
                        <select name="" id=""></select>
                    </div>

                    <div id="pagination">PAGINATION</div>
                </div>

                <div class="BdPost">
                    <img src="{{ asset("img/couverture/115618_c.jpg") }}"  alt="" class="left">
                    <div id="infos">
                        <p class="titreBd">Titre de la BD</p>
                        <p class="auteur">Auteur : Machin Bidule</p>
                        <p class="coloriste">Coloriste : Machin Bidule</p>
                        <p class="scenariste">Scénariste : Machin Bidule</p>

                        <p class="disponibilite">Disponibilité</p>

                        <input class="details" type="button" value="Plus de détails !">
                        <input class="commander" type="button" value="Ajouter au panier !">
                    </div>
                </div>

                <div class="BdPost">
                    <img src="{{ asset("img/couverture/115618_c.jpg") }}"  alt="" class="left">
                    <div id="infos">
                        <p class="titreBd">Titre de la BD</p>
                        <p class="auteur">Auteur : Machin Bidule</p>
                        <p class="coloriste">Coloriste : Machin Bidule</p>
                        <p class="scenariste">Scénariste : Machin Bidule</p>

                        <p class="disponibilite">Disponibilité</p>

                        <input class="details" type="button" value="Plus de détails !">
                        <input class="commander" type="button" value="Ajouter au panier !">
                    </div>
                </div>

                <div class="BdPost">
                    <img src="{{ asset("img/couverture/115618_c.jpg") }}"  alt="" class="left">
                    <div id="infos">
                        <p class="titreBd">Titre de la BD</p>
                        <p class="auteur">Auteur : Machin Bidule</p>
                        <p class="coloriste">Coloriste : Machin Bidule</p>
                        <p class="scenariste">Scénariste : Machin Bidule</p>

                        <p class="disponibilite">Disponibilité</p>

                        <input class="details" type="button" value="Plus de détails !">
                        <input class="commander" type="button" value="Ajouter au panier !">
                    </div>
                </div>

                <div class="BdPost">
                    <img src="{{ asset("img/couverture/115618_c.jpg") }}"  alt="" class="left">
                    <div id="infos">
                        <p class="titreBd">Titre de la BD</p>
                        <p class="auteur">Auteur : Machin Bidule</p>
                        <p class="coloriste">Coloriste : Machin Bidule</p>
                        <p class="scenariste">Scénariste : Machin Bidule</p>

                        <p class="disponibilite">Disponibilité</p>

                        <input class="details" type="button" value="Plus de détails !">
                        <input class="commander" type="button" value="Ajouter au panier !">
                    </div>
                </div>

                <div class="BdPost">
                    <img src="{{ asset("img/couverture/115618_c.jpg") }}"  alt="" class="left">
                    <div id="infos">
                        <p class="titreBd">Titre de la BD</p>
                        <p class="auteur">Auteur : Machin Bidule</p>
                        <p class="coloriste">Coloriste : Machin Bidule</p>
                        <p class="scenariste">Scénariste : Machin Bidule</p>

                        <p class="disponibilite">Disponibilité</p>

                        <input class="details" type="button" value="Plus de détails !">
                        <input class="commander" type="button" value="Ajouter au panier !">
                    </div>
                </div>

                <div class="BdPost">
                    <img src="{{ asset("img/couverture/115618_c.jpg") }}"  alt="" class="left">
                    <div id="infos">
                        <p class="titreBd">Titre de la BD</p>
                        <p class="auteur">Auteur : Machin Bidule</p>
                        <p class="coloriste">Coloriste : Machin Bidule</p>
                        <p class="scenariste">Scénariste : Machin Bidule</p>

                        <p class="disponibilite">Disponibilité</p>

                        <input class="details" type="button" value="Plus de détails !">
                        <input class="commander" type="button" value="Ajouter au panier !">
                    </div>
                </div>

                

                
                
    </div>


{% endblock %}