{% extends ':layouts:base.html.twig' %}

{% block title %}Détails BD | Bdloc{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset("css/catalogue.css") }}">
{% endblock %}
{% block main_content %}

                
    <div id="containerPostBd">
        <img src="{{ asset("img/couverture/" ~ book.cover ) }}" alt="{{ book.title }}" class="left couvertureBD">
        <div id="infos">
            <p class="titreBd">Titre de la BD : {{ book.title }}</p>
            <p class="langue">En {% if book.serie.language == "fr" %}{{ "Français" }}{% else %}{{ "Anglais"}}{% endif %}<p>
            <p class="categorie">{{ book.serie.style }}</p>
            <p class="auteur">L'auteur de cette BD est : {{ book.illustrator.lastName }} {{ book.illustrator.firstName }}</p>
            <p class="coloriste">Le coloriste de cette BD est : {{ book.colorist.lastName }} {{ book.colorist.firstName }}</p>
            <p class="scenariste">Le scenariste de cette BD est : {{ book.scenarist.lastName }} {{ book.scenarist.firstName }}</p>
            <p class="description">Synopsis : {{ book.serie.comment }}</p>
            {% if book.stock == 0 %}
                <p class="indisponible">Indisponible...</p>
            {% else %}
                <!-- <p class="disponible"><span class="bookStock">{ { book.stock }} dispos !</span></p>
                <a href="{ { path('bdloc_app_cart_addbook', {book_id: book.id}) }}" title="Ajouter au panier"><input class="commander" type="button" value="Ajouter au panier !"></a> -->
                <p class="disponible"><span class="bookStock">{{ book.stock }} dispos !</span></p>
                {% if book.id in booksIdInCart %}
                    <a href="" title="Dans votre panier"><input class="commander" type="button" value="Dans votre panier"></a>
                {% else %}
                    <a href="{{ path('bdloc_app_cart_addbook', {book_id: book.id}) }}" title="Ajouter au panier"><input class="commander" type="button" value="Ajouter au panier !"></a>
                {% endif %}
            {% endif %}
    </div>


{% endblock %}

