{% extends ":layouts:base.html.twig" %}

{% block title %}Inscription | BDLOC{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/form.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/dropspot.css') }}" rel="stylesheet" />
{% endblock %}

{% block main_content %}
    {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
    <div id="menuAbonnement">
        <ul>
            <li {% if currentPath == '/bdloc/web/app_dev.php/abonnement/inscription' %} class="etapeActive" {% endif %}>1.Informations personnelles</li>
            <li {% if currentPath == '/bdloc/web/app_dev.php/abonnement/choix-point-relais' %} class="etapeActive" {% endif %}>2.Choix du point relais</li>
            <li {% if currentPath == '/bdloc/web/app_dev.php/abonnement/choix-de-paiement' %} class="etapeActive" {% endif %}>3.Choix du mode d'abonnement et paiement</li>
        </ul>
    </div>
    <h1 class="formTitle">Abonnement | Choix du point relais</h1>
    {{ form(dropspotForm, {'attr': {'novalidate': 'novalidate'}}) }}




    <!-- <iframe height="400px" width="100%" frameborder="0" scrolling="no" src="https://maps/documentation/javascript/examples/full/places-autocomplete-hotelsearch">
    </iframe> -->
    <div>
        <!-- <div id="findhotels">
          Find hotels in:
        </div>
    <div id="locationField">
          <input id="autocomplete" placeholder="Enter a city" type="text" />
        </div>

        <div id="controls">
          <select id="country">
            <option value="all">All</option>
            <option value="au">Australia</option>
            <option value="br">Brazil</option>
            <option value="ca">Canada</option>
            <option value="fr">France</option>
            <option value="de">Germany</option>
            <option value="mx">Mexico</option>
            <option value="nz">New Zealand</option>
            <option value="it">Italy</option>
            <option value="za">South Africa</option>
            <option value="es">Spain</option>
            <option value="pt">Portugal</option>
            <option value="us" selected>U.S.A.</option>
            <option value="uk">United Kingdom</option>
          </select>
        </div>

        <div id="map-canvas"></div>

        <div id="listing">
          <table id="resultsTable">
            <tbody id="results"></tbody>
          </table>
        </div>
        
        <div id="info-content">
          <table>
            <tr id="iw-url-row" class="iw_table_row">
              <td id="iw-icon" class="iw_table_icon"></td>
              <td id="iw-url"></td>
            </tr>
            <tr id="iw-address-row" class="iw_table_row">
              <td class="iw_attribute_name">Address:</td>
              <td id="iw-address"></td>
            </tr>
            <tr id="iw-phone-row" class="iw_table_row">
              <td class="iw_attribute_name">Telephone:</td>
              <td id="iw-phone"></td>
            </tr>
            <tr id="iw-rating-row" class="iw_table_row">
              <td class="iw_attribute_name">Rating:</td>
              <td id="iw-rating"></td>
            </tr>
            <tr id="iw-website-row" class="iw_table_row">
              <td class="iw_attribute_name">Website:</td>
              <td id="iw-website"></td>
            </tr>
          </table>
        </div> -->

        <!-- <div id="panel">
          <input id="address" type="textbox" value="Paris, France">
          <input type="button" value="Geocode" onclick="codeAddress()">
        </div> -->
        <div id="map-canvas"></div>
    </div>


{% endblock %}


{% block javascripts %}
<script src="{{ asset('js/jquery.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script src="{{ asset('js/dropspot.js') }}"></script>
{% endblock %}